SimplePalindromesTests/bin
SimplePalindromes/bin
PalindromesTests/bin
PalindromesByFactoringTests/bin
PalindromesByFactoring/bin
Palindromes/bin
PalindromeCommonTests/bin
PalindromeCommon2/obj
SimplePalindromesTests/obj
SimplePalindromes/obj
PalindromesTests/obj
PalindromesByFactoringTests/obj
PalindromesByFactoringTests/bin
PalindromesByFactoring/obj
PalindromesByFactoring/bin
Palindromes/obj
PalindromeCommonTests/obj
PalindromeCommon2/bin
